<div class="row">
    <div class="col-md-2" id="reviewList">
    <ul>
        <li ng-repeat="item in reviews">
          <a ui-sref="reviews.review({ reviewId: item.reviewId })">{{ item.reviewTitle }}</a>

         </li>
         </ul>

    </div>
<div ui-view="body"></div>


    <div class="col-md-10" id="reviewForm">



      <h1>Add a New Movie Review!</h1>
      <form ng-submit="ReviewsFactory.addReview()" role="form">

                <div class="form-group">
                  <input type="text" ng-model="ReviewsFactory.reviewTitle" class="form-control" placeholder="Enter a review title">
                  <textarea ng-model="ReviewsFactory.reviewContent" class="form-control" rows="4" placeholder="Enter your review"></textarea>
                </div>
             <button type="submit" class="btn btn-info">Submit</button>
              </form>
    </div>


</div>
